<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://172.16.10.243/PortalRFID</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://172.16.10.243/</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/PortalRFID</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>johnatas.barbosa@cepedi</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GestaoPortifolioDB" Order="1" Enabled="False">
          <Destination Path="Data Source=APPSERVER03\SQLEXPRESS;Initial Catalog=GestaoPortfoliosStage;User ID=cepedi;Password=c3p3d1" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost\SQLEXPRESS;Initial Catalog=GestaoPortifolioDB;User ID=cepedi;Password=c3p3d1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GestaoPortifolioDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost\SQLEXPRESS;Initial Catalog=GestaoPortifolioDB;User Id=cepedi;Password=c3p3d1;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="GestaoPortifolioDB-Web.config Connection String">
      <ParameterValue>Data Source=APPSERVER03\SQLEXPRESS;Initial Catalog=GestaoPortfoliosStage;User ID=cepedi;Password=c3p3d1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>